# Convert text file line endings to lf
* text=auto

*.js text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.json text eol=lf
*.md text eol=lf

*.jpg binary
*.jpeg binary
*.gif binary
*.png binary
*.webp binary