@import "tailwindcss";
@import "tw-animate-css";
@import "highlight.js/styles/atom-one-dark.css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --color-*: initial;
  --color-black: var(--black);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-pre: var(--pre);
  --color-pre-foreground: var(--pre-foreground);

  --animate-landing: landing 1s ease-out;

  @keyframes landing {
    0% {
      opacity: 0;
      transform: translateY(-50%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }

    100% {
      opacity: 1;
      transform: translateY(0%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
  }
}

:root {
  --radius: 0.5rem;

  --black: hsl(330 4% 10%);
  --primary: hsl(330 44% 40%);
  --primary-foreground: hsl(330 44% 96%);
  --secondary: hsl(330 64% 60%);
  --secondary-foreground: hsl(330 64% 10%);
  --accent: hsl(330 44% 72%);
  --accent-foreground: hsl(330 44% 10%);

  --muted: hsl(330 1% 96%);
  --muted-foreground: hsl(330 1% 52%);

  --background: hsl(330 44% 99.8%);
  --foreground: hsl(330 44% 12%);
  --card: hsl(330 44% 100%);
  --card-foreground: hsl(330 44% 10%);
  --popover: hsl(330 44% 96%);
  --popover-foreground: hsl(330 44% 10%);

  --destructive: hsl(350, 60%, 40%);

  --border: hsl(330 10% 90%);
  --input: hsl(330 10% 80%);
  --ring: hsl(330 15% 50%);
  --pre: hsl(330 2% 29%);
  --pre-foreground: hsl(330 2% 76%);

  --chart-1: hsl(330 10.2% 64.6%);
  --chart-2: hsl(330 11.8% 60%);
  --chart-3: hsl(330 7% 39.8%);
  --chart-4: hsl(330 18.9% 82.8%);
  --chart-5: hsl(330 18.8% 76.9%);

  --sidebar: hsl(330 10% 98%);
  --sidebar-foreground: hsl(330 40% 15%);
  --sidebar-primary: hsl(330 15% 50%);
  --sidebar-primary-foreground: hsl(330 1.6% 98%);
  --sidebar-accent: hsl(330 0.1% 96.7%);
  --sidebar-accent-foreground: hsl(330 0.6% 21%);
  --sidebar-border: hsl(330 10% 80%);
  --sidebar-ring: hsl(330 15% 50%);
}

.dark {
  --radius: 0.5rem;

  --black: hsl(330 4% 10%);
  --primary: hsl(330, 44%, 50%);
  --primary-foreground: hsl(330, 100%, 96%);
  --secondary: hsl(330, 4%, 16%);
  --secondary-foreground: hsl(330, 0%, 98%);
  --accent: hsl(330, 4%, 16%);
  --accent-foreground: hsl(330, 0%, 98%);

  --muted: hsl(330, 4%, 16%);
  --muted-foreground: hsl(330, 5%, 64%);

  --background: hsl(330, 10%, 4%);
  --foreground: hsl(330, 0%, 98%);
  --card: hsl(330, 6%, 10%);
  --card-foreground: hsl(330, 0%, 98%);
  --popover: hsl(330, 6%, 10%);
  --popover-foreground: hsl(330, 0%, 98%);

  --destructive: hsl(0, 100%, 70%);

  --border: hsl(330, 10%, 20%);
  --input: hsla(330, 10%, 20%);
  --ring: hsl(330 75% 50%);
  --pre: hsl(330 10% 10%);
  --pre-foreground: hsl(330 20% 80%);

  --chart-1: hsl(330, 84%, 49%);
  --chart-2: hsl(330, 84%, 49%);
  --chart-3: hsl(330, 84%, 49%);
  --chart-4: hsl(330, 84%, 49%);
  --chart-5: hsl(330, 84%, 49%);

  --sidebar: hsl(330, 6%, 10%);
  --sidebar-foreground: hsl(330, 0%, 98%);
  --sidebar-primary: hsl(330, 58%, 60%);
  --sidebar-primary-foreground: hsl(330, 0%, 98%);
  --sidebar-accent: hsl(330, 6%, 10%);
  --sidebar-accent-foreground: hsl(330, 0%, 98%);
  --sidebar-border: hsl(330, 0%, 100%);
  --sidebar-ring: hsl(330, 58%, 60%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}
